html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

[hidden] {
  display: none !important; }

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #2d2d2d;
  background-color: white; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.1; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 0.5rem; }

a {
  color: #0078d7;
  text-decoration: none; }
  a:hover {
    color: #004d8b;
    text-decoration: underline; }

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #2d2d2d;
  background-color: transparent;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-decoration: none; }
  .btn:hover {
    color: #2d2d2d;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 100ms linear; }
  .btn:disabled {
    cursor: not-allowed;
    opacity: 0.65; }

.btn-primary {
  color: white;
  background-color: #0078d7;
  border: 1px solid #0078d7;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-primary:disabled {
    color: white;
    background-color: #004d8b;
    border-color: #004d8b; }
  .btn-primary:hover {
    color: white;
    background-color: #004d8b;
    border-color: #004d8b;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-primary:active {
    color: white;
    background-color: #004d8b;
    border-color: #004d8b; }
  .btn-primary:focus {
    color: white;
    background-color: #004d8b;
    border-color: #004d8b; }

.btn-success {
  color: white;
  background-color: #5ab95a;
  border: 1px solid #5ab95a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-success:disabled {
    color: white;
    background-color: #3b8b3b;
    border-color: #3b8b3b; }
  .btn-success:hover {
    color: white;
    background-color: #3b8b3b;
    border-color: #3b8b3b;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-success:active {
    color: white;
    background-color: #3b8b3b;
    border-color: #3b8b3b; }
  .btn-success:focus {
    color: white;
    background-color: #3b8b3b;
    border-color: #3b8b3b; }

.btn-info {
  color: white;
  background-color: #5abedc;
  border: 1px solid #5abedc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-info:disabled {
    color: white;
    background-color: #299ec1;
    border-color: #299ec1; }
  .btn-info:hover {
    color: white;
    background-color: #299ec1;
    border-color: #299ec1;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-info:active {
    color: white;
    background-color: #299ec1;
    border-color: #299ec1; }
  .btn-info:focus {
    color: white;
    background-color: #299ec1;
    border-color: #299ec1; }

.btn-warning {
  color: white;
  background-color: #ff9b00;
  border: 1px solid #ff9b00;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-warning:disabled {
    color: white;
    background-color: #b36d00;
    border-color: #b36d00; }
  .btn-warning:hover {
    color: white;
    background-color: #b36d00;
    border-color: #b36d00;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-warning:active {
    color: white;
    background-color: #b36d00;
    border-color: #b36d00; }
  .btn-warning:focus {
    color: white;
    background-color: #b36d00;
    border-color: #b36d00; }

.btn-danger {
  color: white;
  background-color: #dc5050;
  border: 1px solid #dc5050;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-danger:disabled {
    color: white;
    background-color: #ba2525;
    border-color: #ba2525; }
  .btn-danger:hover {
    color: white;
    background-color: #ba2525;
    border-color: #ba2525;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .btn-danger:active {
    color: white;
    background-color: #ba2525;
    border-color: #ba2525; }
  .btn-danger:focus {
    color: white;
    background-color: #ba2525;
    border-color: #ba2525; }

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

.list-unstyled {
  list-style: none;
  padding: 0; }

.alert {
  padding: 1.25rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #c3c3c3; }

.alert-primary {
  color: #00233e;
  background-color: #259eff;
  border-color: #0078d7; }

.alert-success {
  color: #245624;
  background-color: #90d090;
  border-color: #5ab95a; }

.alert-info {
  color: #1b6a82;
  background-color: #99d7e9;
  border-color: #5abedc; }

.alert-warning {
  color: #663e00;
  background-color: #ffb94d;
  border-color: #ff9b00; }

.alert-danger {
  color: #7b1919;
  background-color: #e99090;
  border-color: #dc5050; }

blockquote {
  margin: 0;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border-left: 0.5rem solid #ebebeb; }
  blockquote footer {
    font-style: italic;
    font-size: 0.95rem; }

.flex {
  display: flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-nowrap {
  flex-wrap: nowrap; }

.justify-content-start {
  justify-content: flex-start; }

.justify-content-end {
  justify-content: flex-end; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-around {
  justify-content: space-around; }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

.align-items-center {
  align-items: center; }

.align-items-baseline {
  align-items: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-content-center {
  align-content: center; }

.align-content-stretch {
  align-content: stretch; }

.align-content-baseline {
  align-content: baseline; }

.align-content-between {
  align-content: space-between; }

.align-content-around {
  align-content: space-around; }

.align-self-auto {
  align-self: auto; }

.align-self-start {
  align-self: flex-start; }

.align-self-end {
  align-self: flex-end; }

.align-self-center {
  align-self: center; }

.align-self-baseline {
  align-self: baseline; }

.align-self-stretch {
  align-self: stretch; }

.flex-grow-on {
  flex-grow: 1; }

.flex-grow-off {
  flex-grow: 0; }

.flex-shrink-on {
  flex-shrink: 1; }

.flex-shrink-off {
  flex-shrink: 0; }

.flex-item-100 {
  flex-basis: 100%; }

.flex-item-90 {
  flex-basis: 90%; }

.flex-item-70 {
  flex-basis: 70%; }

.flex-item-30 {
  flex-basis: 30%; }

.flex-item-10 {
  flex-basis: 10%; }

.flex-item-80 {
  flex-basis: 80%; }

.flex-item-60 {
  flex-basis: 60%; }

.flex-item-40 {
  flex-basis: 40%; }

.flex-item-20 {
  flex-basis: 20%; }

.flex-item-75 {
  flex-basis: 75%; }

.flex-item-50 {
  flex-basis: 50%; }

.flex-item-25 {
  flex-basis: 25%; }

.flex-item-66 {
  flex-basis: 66.666666%; }

.flex-item-33 {
  flex-basis: 33.333333%; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.img-thumbnail {
  border: 1px solid #c3c3c3;
  padding: 0.25rem; }

.disable-hover {
  pointer-events: none; }

body {
  margin: 0; }

h1 {
  color: white;
  background: linear-gradient(141deg, #5abedc 0%, #0078d7 51%, #005ca4 75%);
  border-bottom: 1px solid #ff9b00;
  padding: 1rem; }

section {
  margin: 2rem; }
