$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$red: rgb(220, 80, 80);
$orange: rgb(255, 155, 0);
$yellow: rgb(255, 210, 0);
$green: rgb(90, 185, 90);
$blue: rgb(0, 120, 215);
$teal: rgb(90, 190, 220);

$gray-dark: rgb(45, 45, 45);
$gray-normal: rgb(95, 95, 95);
$gray-light: rgb(145, 145, 145);
$gray-lighter: rgb(195, 195, 195);
$gray-lightest: rgb(235, 235, 235);

$spacer: 1rem;

$default-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$default-font-size: 1rem;
$default-line-height: 1.5rem;
$default-font-weight: normal;
$default-color: $gray-dark;
$default-background: $white;

$heading1-font-size: 2.5rem;
$heading2-font-size: 2rem;
$heading3-font-size: 1.75rem;
$heading4-font-size: 1.5rem;
$heading5-font-size: 1.25rem;
$heading6-font-size: 1rem;
$headings-margin-top: 0;
$headings-margin-bottom: $spacer / 2;
$headings-font-weight: 500;
$headings-line-height: 1.1;

$paragraph-margin-top: 0;
$paragraph-margin-bottom: $spacer / 2;

$link-color: $blue;
$link-text-decoration: none;
$link-hover-color: darken($blue, 15%);
$link-hover-text-decoration: underline;
$link-active-color: darken($blue, 15%);
$link-visited-color: darken($blue, 15%);

$btn-color: $gray-dark;
$btn-background: transparent;
$btn-text-decoration: none;
$btn-border-width: 1px;
$btn-border-color: $gray-lighter;
$btn-border-radius: 4px;
$btn-padding-top-bottom: $spacer / 2;
$btn-padding-left-right: $spacer;
$btn-transition-timing: 100ms;

$btn-primary-color: $white;
$btn-primary-background: $blue;
$btn-primary-border: $blue;

$btn-info-color: $white;
$btn-info-background: $teal;
$btn-info-border: $teal;

$btn-success-color: $white;
$btn-success-background: $green;
$btn-success-border: $green;

$btn-warning-color: $white;
$btn-warning-background: $orange;
$btn-warning-border: $orange;

$btn-danger-color: $white;
$btn-danger-background: $red;
$btn-danger-border: $red;

@mixin create-btn($color, $background, $border) {
  color: $color;
	background-color: $background;
	border: $btn-border-width solid $border;
  box-shadow: inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075);

  &:disabled {
    color: $color;
    background-color: darken($background, 15%);
    border-color: darken($border, 15%);
  }

  &:hover {
    color: $color;
    background-color: darken($background, 15%);
    border-color: darken($border, 15%);
    box-shadow: inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075);
  }

  &:active {
    color: $color;
    background-color: darken($background, 15%);
    border-color: darken($border, 15%);
  }

  &:focus {
    color: $color;
    background-color: darken($background, 15%);
    border-color: darken($border, 15%);
  }
}

$list-margin-top: 0;
$list-margin-bottom: $spacer;

$alert-color: $gray-dark;
$alert-background: transparent;
$alert-padding-top-bottom: 1.25rem;
$alert-padding-left-right: 1.25rem;
$alert-margin-bottom: $spacer;
$alert-border-width: 1px;
$alert-border-color: $gray-lighter;
$btn-border-radius: 4px;

$alert-primary-color: darken($blue, 30%);
$alert-primary-background: lighten($blue, 15%);
$alert-primary-border: $blue;

$alert-info-color: darken($teal, 30%);
$alert-info-background: lighten($teal, 15%);
$alert-info-border: $teal;

$alert-success-color: darken($green, 30%);
$alert-success-background: lighten($green, 15%);
$alert-success-border: $green;

$alert-warning-color: darken($orange, 30%);
$alert-warning-background: lighten($orange, 15%);
$alert-warning-border: $orange;

$alert-danger-color: darken($red, 30%);
$alert-danger-background: lighten($red, 15%);
$alert-danger-border: $red;

@mixin create-alert($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

$blockquote-padding-top-bottom: ($spacer / 2);
$blockquote-padding-left-right: ($spacer / 2);
$blockquote-margin-bottom: $spacer;
$blockquote-border-width: ($spacer / 2);
$blockquote-border-color: $gray-lightest;

$blockquote-footer-font-size: ($spacer * 0.95);
