@import 'base';

$heading1-color: $white;
$heading1-background: linear-gradient(141deg, $teal 0%, $blue 51%, darken($blue, 10%) 75%);
$heading1-border-color: $orange;
$heading1-padding: $spacer;
$content-spacer: ($spacer * 2);

body {
  margin: 0;
}

h1 {
  color: $heading1-color;
  background: $heading1-background;
  border-bottom: 1px solid $heading1-border-color;
  padding: $heading1-padding;
}

section {
  margin: $content-spacer;
};
